/************************
****** Page Layout ******
************************/

@media screen and (min-width:1421px) {
	#content { margin-left:260px; max-width:100%; margin-right:325px; padding:22px; }
	#panel-right { width:300px; }
}

@media screen and (min-width:1121px) and (max-width:1420px) {
	#content { margin-left:260px; max-width:100%; margin-right:10px; padding:22px; }
}

@media screen and (min-width:921px) and (max-width:1120px) {
	#content { margin-left:260px; margin-right:10px; padding:16px; }
}

@media screen and (min-width:501px) and (max-width:920px) {
	#content { margin-left:0px; margin-right:10px; padding:12px; }
}

@media screen and (max-width:500px) {
	#content { margin-left:0px; padding:10px; }
}

#panel-left { width:245px; }

/*****************************************
****** Custom Colors and Formatting ******
*****************************************/

html, body { background-color:#D9EAFF !important; }

.menu-plain { color:#2C7099; padding:0px 20px 0px 20px; }
.menu-plain:hover { background-color:#63beff !important; background-image:none !important; color:white !important; transition:0.1s ease-in-out; }
.menu-plain.nav-active { color:white !important; }

input[type="number"] { padding:6px 6px 6px 12px; font-size:16px; border:solid 1px; }

.spacer { height:50px; }

/****************************
****** Unique Elements ******
****************************/

#aviblock { text-align:center; }
#aviblock .nav-slot>a { padding-left:0px; }
@media screen and (min-width:501px) {
	#aviblock { width:205px; margin-left:5px; float:right; }
}
@media screen and (max-width:500px) {
	#aviblock { margin-bottom:5px; }
}

.dragndrop { list-style-type:none; overflow:hidden; }
.dragndrop li
{
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	cursor:move;
	float:left;
	margin-bottom:4px;
	margin-right:4px;
	padding:5px;
	position:relative;
	text-align:center;
	width:77px;
}
.dragndrop img { max-height:50px; max-width:100%; }
.dragndrop select { width:100%; }
.dragndrop div { height:50px; }
.close, .buy, .owned
{
	font-size:0.8em;
	position:absolute;
	z-index:2;
}
.left, .right
{
	font-weight:bold;
	font-size:0.8em;
	position:absolute;
	z-index:2;
	opacity:0;
		-khtml-opacity:0;
		-moz-opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
}
.left:hover, .right:hover
{
	opacity:1;
		-khtml-opacity:1;
		-moz-opacity:1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter:alpha(opacity=1);
}
.close { right:2px; top:-2px; }
.buy { right:3px; top:42px; }
.left { left:3px; top:19px; }
.right { right:3px; top:19px; }
.owned { right:1px; top:40px; }

.item_block { display:inline-block; padding:10px; text-align:center; width:135px; }
.item_block select { width:135px; }
.item_block img { max-height:100px; max-width:80px; }

.redlinks>a { line-height:2.2em; white-space:nowrap; }
.redlinks>span { padding:5px; white-space:nowrap; }
.spoiler-header, .redlinks>a, .dragndrop li
{
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	color:#2c7099 !important;
	padding:5px;
}
.spoiler-header { border:1px dotted; }
.spoiler-header:hover, .redlinks>a:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	transition:0.1s ease-in-out;
}
.spoiler-content
{
	display:none;
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	border-left:1px dotted;
}

.opaque
{
	opacity:0.5;
		-khtml-opacity:0.5;
		-moz-opacity:0.5;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	filter:alpha(opacity=0.5);
}