/************************
****** Page Layout ******
************************/

@media screen and (min-width:1421px) {
	#content { background-color:#d9e8f7; margin-left:260px; max-width:100%; margin-right:325px; padding:22px; }
	#panel-right { width:300px; }
}

@media screen and (min-width:1121px) and (max-width:1420px) {
	#content { background-color:#d9e8f7; margin-left:260px; max-width:100%; margin-right:10px; padding:22px; }
}

@media screen and (min-width:921px) and (max-width:1120px) {
	#content { background-color:#d9e8f7; margin-left:260px; margin-right:10px; padding:16px; }
}

@media screen and (min-width:501px) and (max-width:920px) {
	#content { background-color:#d9e8f7; margin-left:0px; margin-right:10px; padding:12px; }
}

@media screen and (max-width:500px) {
	#content { background-color:#d9e8f7; margin-left:0px; padding:10px; }
}

#panel-left { width:245px; }

/******************************
****** Custom Overwrites ******
*******************************/

body { background-color:#d9e8f7; color:#1d2f46; }

#header-wrap
{
	box-shadow:0 0 0 2px #a49f95;
	background-color:#d9e8f7;	
	background-image:url('theme-unifaction/headerUF.png');
	background-size:auto 100px;
	background-repeat:repeat-x;
}

.menu-wrap { border-bottom:solid 1px #a49f95; border-left:solid 1px #a49f95; border-right:solid 1px #a49f95; }
.menu-slot { color:#1d2f46; border-right:solid 1px #a49f95; }
.menu-slot>a { color:#1d2f46 !important; }
.menu-slot>ul { background-color:#d9e8f7; border:solid 1px #a49f95; }
.dropdown-slot { color:#1d2f46; border-bottom:solid 1px #a49f95; }
.dropdown-slot>a { color:#1d2f46 !important; }

.menu-wrap, .menu-slot>ul, .dragndrop li, .redlinks>a { 
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
}

.nav-slot { color:#1d2f46; }
.nav-slot>a { color:#1d2f46 !important; }

.uniform input[type=text], .uniform input[type=password], .uniform input[type=number], .uniform select, .uniform textarea
{
	background-color:#e8eef1;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.75)));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background-image:-o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background-image:-ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background-image:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
}
.uniform input[type=number] { padding:6px 6px 6px 12px; font-size:16px; color:#475055; border:solid 1px #c0c0c0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { color:#1d2f46; }

.uniform input[type=text], .uniform input[type=password], .uniform select, .uniform textarea  { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#1d2f46; }

.mod-table tr:nth-child(2n-1) { background-color:#c7e0ee; }
.mod-table td { padding:3px; border:1px #a49f95 solid; }

#footer { 
	background-color:#d9e8f7;
	border-top:solid 1px #a49f95;
	background-image:url('theme-unifaction/footerUF.png');
	background-size:auto 40px;
	background-repeat:repeat-x;
}
#footer-middle>a { color:#1d2f46; }
#footer-middle>a:hover { color: #1d2f46; }

#friend-button { color:#a49f95; }
#notif-button { color:#a49f95; }

/***************************
****** Dressing Lists ******
****************************/

.dragndrop
{
	list-style-type:none;
	overflow:hidden;
	padding:0px;
}

.dragndrop li
{
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	cursor:move;
	float:left;
	margin-bottom:4px;
	margin-right:4px;
	padding:5px;
	position:relative;
	text-align:center;
	width:77px;
}

.dragndrop img { max-height:50px; max-width:100%; }
.dragndrop select { width:100%; }
.dragndrop div { height:50px; }

.close, .buy, .owned
{
	color:#a49f95 !important;
	font-size:0.8em;
	position:absolute;
	text-decoration:none;
	z-index:2;
}

.left, .right
{
	color:#a49f95 !important;
	font-weight:bold;
	font-size:0.8em;
	position:absolute;
	text-decoration:none;
	z-index:2;
	opacity:0;
		-khtml-opacity:0;
		-moz-opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
}

.left:hover, .right:hover
{
	opacity:1;
		-khtml-opacity:1;
		-moz-opacity:1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter:alpha(opacity=1);
}

.close { right:2px; top:-2px; }
.buy { right:3px; top:42px; }
.left { left:3px; top:19px; }
.right { right:3px; top:19px; }
.owned { right:1px; top:40px; }

/***********************
****** Item Block ******
***********************/
.item_block { display:inline-block; padding:15px; text-align:center; width:130px; }
.item_block select { width:130px; }
.item_block img { max-height:100px; max-width:80px; }

/***********************
****** Faded Out *******
***********************/

.opaque
{
	opacity:0.5;
		-khtml-opacity:0.5;
		-moz-opacity:0.5;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	filter:alpha(opacity=0.5);
}

/*************************
****** Padded Links ******
*************************/

.redlinks>a
{
	padding:5px;
	line-height:2.2em;
	white-space:nowrap;
}
.redlinks>a:hover, .redlinks .category-active
{
	background-color:#56ccc8;
	background-image:none;
	color:white !important;
}

/*******************************
****** Plain Text in Menu ******
*******************************/

.menu-plain { padding:0px 20px 0px 20px; }
.menu-plain.nav-active, .menu-plain:hover { color:white !important; transition:0.1s ease-in-out; }

/**********************
****** Avi Block ******
***********************/

#aviblock { text-align:center; }
#aviblock .nav-slot>a { padding-left:0px; }

@media screen and (min-width:501px) {
	#aviblock { width:205px; margin-left:5px; float:right; }
}

@media screen and (max-width:500px) {
	#aviblock { margin-bottom:5px; }
}

/********************
****** Spoiler ******
********************/

.spoiler-header
{
	border:1px #1d2f46 dotted;
	padding:5px;
}

.spoiler-header:hover
{
	background-color:#56ccc8;
}

.spoiler-content
{
	display:none;
}