/*****************************
****** General Elements ******
*****************************/

.menu-plain { color:#2C7099; padding:0px 20px 0px 20px; }
.menu-plain:hover { background-color:#97d5fb !important; background-image:none !important; color:white !important; transition:0.1s ease-in-out; }
.menu-plain.nav-active { color:white !important; }

.overwrap-box { background-color:#d5e4ed; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-bottom:7px; }
.inner-box { background-color:#e8eef1; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-top:6px; width:100%; overflow:hidden; }
.overwrap-line { padding:0px 2px 0px 2px; font-weight:bold; font-size:1.2em; }

.spacer { height:50px; }

/****************************
****** Unique Elements ******
****************************/

#aviblock { text-align:center; }
#aviblock .nav-slot>a { padding-left:0px; }
@media screen and (min-width:501px) {
	#aviblock { width:205px; margin-left:5px; float:right; }
}
@media screen and (max-width:500px) {
	#aviblock { margin-bottom:5px; }
}

.dragndrop { list-style-type:none; overflow:hidden; }
.dragndrop li
{
	cursor:move;
	float:left;
	margin-bottom:4px;
	margin-right:4px;
	padding:5px;
	position:relative;
	text-align:center;
	width:77px;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
}
.dragndrop img { max-height:50px; max-width:100%; }
.dragndrop select { width:100%; }
.dragndrop div { height:50px; }

.close
{
	font-size:0.8em;
	position:absolute;
	z-index:2;
	right:1px;
	top:0px;
}
.buy
{
	font-size:0.8em;
	position:absolute;
	z-index:2;
	right:1px;
	top:42px;
}
.owned
{
	font-size:0.8em;
	position:absolute;
	z-index:2;
	right:2px;
	top:40px;
}
.left
{
	font-weight:bold;
	font-size:0.8em;
	position:absolute;
	z-index:2;
	opacity:0;
		-khtml-opacity:0;
		-moz-opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	left:2px;
	top:21px;
}
.right
{
	font-weight:bold;
	font-size:0.8em;
	position:absolute;
	z-index:2;
	opacity:0;
		-khtml-opacity:0;
		-moz-opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	right:2px;
	top:21px;
}
.left:hover, .right:hover
{
	opacity:1;
		-khtml-opacity:1;
		-moz-opacity:1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter:alpha(opacity=1);
}

.item_block { display:inline-block; padding:5px; text-align:center; width:155px; }
.item_block select { width:145px; }
.item_block img { max-height:100px; max-width:80px; }

.redlinks>a
{
	border-radius:4px;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	padding:5px;
	line-height:2.2em;
	white-space:nowrap;
}
.redlinks>a:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	transition:0.1s ease-in-out;
}
.redlinks>span { padding:5px; white-space:nowrap; border-radius:4px;}

.spoiler-header
{
	border-radius:4px;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	padding:5px;
	display:inline-block;
	margin-left:2em;
}
.spoiler-header:before
{
	content:"\e62b ";
	color:#2c7099;
	font-family:'icomoon';
	font-size:1.5em;
	position:absolute;
	margin-left:-1.45em;
	margin-top:-0.25em;
}
.spoiler-header:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	transition:0.1s ease-in-out;
}
.spoiler-content
{
	display:none;
	padding-left:0.5em;
	margin-left:2em;
}

.opaque
{
	opacity:0.5;
		-khtml-opacity:0.5;
		-moz-opacity:0.5;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	filter:alpha(opacity=0.5);
}